<div class="navbar navbar-inverse navbar-fixed-top" data-ng-controller="NavbarCtrl">
  <div class="navbar-inner nvb2">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" data-ng-href="#/"><span class="w300">Task </span>Tracker</a>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li data-ui-route="/add" data-ng-class="{active:$uiRoute}">
            <div class="lnk">
              <a data-ng-href="#/add" class="m_link addTask">
                <i class="icon-plus icon-white"></i>
                Add Task
              </a>
            </div>
          </li>

          <li class="divider-vertical"></li>
          <li class="active">
            <div class="lnk">
              <a data-ng-href="#/list/leader:PER_1" class="m_link">My Tasks</a>
              <a data-ng-href="#/list/leader:PER_1/status:Pending Acceptance" class="notif">4</a>
            </div>
          </li>

          <li class="divider-vertical"></li>
          <li>
            <div class="lnk">
              <a data-ng-href="#" class="m_link">My Work Items</a>
            </div>
          </li>

          <li class="divider-vertical"></li>
          <li class="active">
            <div class="lnk">
              <a data-ng-href="#/list/division:DIV_1" class="m_link">My Division</a>
              <a data-ng-href="#/list/division:DIV_1/status:Pending Acceptance" class="notif">9</a>
            </div>
          </li>

          <li class="divider-vertical"></li>
          <li>
            <div class="lnk">
              <a data-ng-href="#/list/view:lite" class="m_link">All Tasks</a>
              <a data-ng-href="#/list/status:Pending Acceptance/view:lite" class="notif">45</a>
            </div>
          </li>

          <li class="divider-vertical"></li>
          <li>
            <div class="lnk">
              <a data-ng-href="#" class="m_link">Reports</a>
            </div>
          </li>
          <li class="divider-vertical"></li>
          <!-- <li class="divider-vertical"></li>
          <li><a data-ng-href="#contact">Exit</a></li>-->
        </ul>
        <form class="search_form pull-right">
          <div class="input-append">
            <input class="exp span2" id="search-input" type="text" data-toggle="dropdown"
               placeholder="E.g. #9 for Task 9">
            <button class="btn-b btn" type="button">Search</button>
            <ul class="dropdown-menu live-search">
              <li><a data-ng-href="#"><span>Task 541</span>
                <small class="muted">Division 1</small>
              </a></li>
              <li><a data-ng-href="#">Task 542
                <small class="muted">Division 2</small>
              </a></li>
              <li><a data-ng-href="#">Task 543</a></li>
            </ul>
          </div>
          <!--<p class="search-hint"><small>Enter # &lt;N&gt; to go direct to the task. E.g. #9 for Task 9</small></p>-->
        </form>
      </div>
      <!--/.nav-collapse -->

    </div>
  </div>
</div>
