@font-family: 'Roboto', sans-serif;

.navbar {
  .nvb2 {
    border-bottom: none;
    box-shadow: 0 2px 4px @ttShadow20;
    .legacy-linear-gradient;

    .brand {
      margin-top: 0;
      padding: 15px 20px;
      background: @ttCalypso;
      color: @ttOnahau;
      text-shadow: none;
      font-family: @font-family;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      .transition;

      &:hover {
        background: @ttShadow20;
        color: white;
      }
    }
  }

  .m_link {
    font-size: 14px;
    font-family: @font-family;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0 @ttShadow10;
    .margin-padding-zero;
    .transition;
    > i {
      vertical-align: baseline;
    }
  }

  .nav > li {
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    color: white;
    .transition;

    &:hover {
      background: @ttShadow030;
    }

    & > a:hover {
      text-decoration: underline;
    }

    .notif {
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      right: -16px;
      top: -8px;
      line-height: 16px;
      font: bold 11px @font-family;
      border-radius: 5px;
      border: 1px solid @ttFieryOrange;
      box-shadow: 1px -1px 0 @ttWhiteShadow10 inset, 1px 1px 1px @ttShadow10;
      background: @ttHotCinnamon;
      color: white;
      text-shadow: 1px 1px 0 @ttShadow10;
      text-align: center;
      .transition(all, 0.1, linear);
      &:hover {
        text-decoration: none;
        background: @ttTango;
        box-shadow: 1px -1px  0 @ttWhiteShadow10 inset, 1px 1px 3px @ttShadow20;
      }
      &:focus {
        text-decoration: none;
      }
      &:active {
        box-shadow: none;
      }
    }

    &.divider-vertical {
      .margin-padding-zero;
      border-right: 1px solid @ttSteelBlue;
      border-left: 1px solid @ttChambray;
      width: 0px;
    }
  }
}

.search_form {
  margin: 10px 0 0 0;

  .input-append {
    position: relative;
    margin-bottom: 0;
  }

  input[type="text"] {
    height: 16px;
    border: 1px solid @ttChambray;
    border-radius: 0;
    font-size: 12px;
  }

  .search-hint {
    margin-bottom: 0;
    color: @ttLightSilver;
    font-style: italic;
    font-weight: normal;
  }

  #search-input {
    .backface-visibility;
    .legacyTransition;
  }

  .dropdown-menu {
    min-width: 246px;
    margin-top: 0;
    padding: 0;
    border-radius: 0;
    > li {
      &:last-child > a {
        border-bottom: none;
      }
      > a {
        padding: 6px 10px;
        border-bottom: 1px solid @ttAlto;
        font-size: 12px;
        &:hover {
          background: @ttLightAlabaster;
          color: @ttMineShaft;
        }
        small {
          font-size: 90%;
        }
      }
    }
  }
}

.navbar-inverse .nav .active {
  & > a, & > a:hover, & > a:focus {
    background: none;
    box-shadow: none;
  }
}

@media (max-width: @navbarCollapseWidth) {
  .navbar-fixed-top {
    .navbar-inner {
      padding: 0 !important;
    }
  }
}

@media (max-width: @navbarNarrowedWidth) and (min-width: @navbarCollapseWidth) {
  .navbar {
    .nav {
      > li {
        padding: 0 12px;

        a {
          font-size: 13px;

          &.notif {
            top: -18px;
            right: -12px;
          }
        }
      }
    }
  }
}
