<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <title>Progressbar demo</title>

    <!--[if lte IE 8]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/bin/assets/ng-boilerplate.js"></script>
    <script type="text/javascript" src="./demo.js"></script>

    <link rel="stylesheet" type="text/css" href="../../../../../vendor/bootstrap/docs/assets/css/bootstrap.css"/>

  </head>
  <body class="ng-cloak" id="ng-app" ng-app="DemoApp">
  <style>
    .canvas {
      margin: 10px 0;
      padding: 10px 0px;
      height: 60px;
      width: 400px;
      background-color:#bbd8e9;
    }
    .timeBar {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 30px;
    }
    .timeBar .startDateOffset {
      visibility: hidden;
    }
    .timeBar .startDateOffset.visible {
      visibility: visible;
    }

  </style>

    <div ng-controller="ProgressDemoCtrl" class="well">
      <h3>Custom directive</h3>
      <h2>TimeBar</h2>
      <pre class="">Current date: {{datePicker | date:longDate}}</pre>
      <div class="row">
        <div class="span6">
          <div data-ng-repeat="timeBar in timeBars" class="canvas">
            <small>
              <em>
                {{timeBar.percent}}% in period {{timeBar.timeAxis.months}} months
                  ({{timeBar.item.startDate}} - {{timeBar.item.finishDate}})
              </em>
            </small>
            <div class="timeBar" data-complete-percent="timeBar.percent" data-item="timeBar.item"
                 data-time-axis="timeBar.timeAxis"></div>
          </div>
        </div>
        <div class="span6">
          <div ng-model="datePicker">
            <input datepicker show-weeks="false" starting-day="1"
                   date-disabled="disabled(date, mode)"
                   min="minDate" max="'2020-06-22'">
          </div>
          <button class="btn btn-small btn-inverse" ng-click="today()">Today</button>
        </div>
      </div>

      <h3>Native AngularJS UI Bootstrap Progress</h3>
      <h2>Static</h2>
      <div class="row-fluid">
        <div class="span4"><progress percent="55"></progress></div>
        <div class="span4"><progress percent="22" class="progress-warning progress-striped"></progress></div>
        <div class="span4"><progress percent="88" class="progress-danger progress-striped active"></progress></div>
      </div>

      <h2>Dynamic <button class="btn btn-primary" type="button" ng-click="random()">Randomize</button></h2>
      <pre>Value: {{dynamic}}</pre>
      <progress percent="dynamic"></progress>

      <small><em>No animation</em></small>
      <progress percent="dynamic" class="progress-success" animate="false"></progress>

      <small><em>Object (changes type based on value)</em></small>
      <progress percent="dynamicObject" class="progress-striped active"></progress>

      <h2>Stacked <button class="btn btn-primary" type="button" ng-click="randomStacked()">Randomize</button></h2>
      <small><em>Array values with automatic types</em></small>
      <pre>Value: {{stackedArray}}</pre>
      <progress percent="stackedArray" auto-type="true"></progress>

      <small><em>Objects</em></small>
      <pre>Value: {{stacked}}</pre>
      <progress percent="stacked"></progress>

    </div>

  </body>
</html>