<div class="title-container">
  <h1 class="page-title">Add New Task</h1>
  <span class="pull-right expand-hints cursor-pointer" data-ng-show="introGuidance.collapsed"
      data-ng-click="introGuidance.collapsed = false">
    <small>Need help?</small>
  </span>
</div>

<div class="main-container container-fluid page addTask">

<form class="form-horizontal" name="addTaskForm" data-ng-controller="AddTaskFormCtrl" data-ng-submit="createTask()"
  novalidate>

<div data-collapse="introGuidance.collapsed">
  <div class="page-hints alert alert-info">

    <button type="button" class="close" data-dismiss="alert" data-ng-click="introGuidance.collapsed = true">
      &times; <small>Close</small>
    </button>

    <div class="row-fluid">
      <div class="span4">
        <h4>Who should enter a task?</h4>

        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
          alteration in some form, by injected humour, or randomised words which don't
          look even slightly believable.</p>
      </div>

      <div class="span4">
        <h4>Who should enter a task?</h4>

        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
          alteration in some form, by injected humour, or randomised words which don't
          look even slightly believable.</p>
      </div>

      <div class="span3">
        <h4>What represents a task?</h4>

        <p>Various versions have evolved over the years, sometimes by accident, sometimes on
          purpose (injected humour and the like).</p>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">

    <!-- Title field -->
    <div class="control-group" data-ng-class="
      {error: addTaskForm.title.$dirty && addTaskForm.title.$invalid,
      success: addTaskForm.title.$dirty && addTaskForm.title.$valid}">

      <label class="control-label required" for="title">Task Title</label>

      <div class="controls">
        <div class="row-fluid">
          <div class="span12">
            <input data-ng-model="defaultTask.title" type="text" id="title" name="title" class="input-xxlarge" required
               data-guidance="Short, snappy title that uniquely describes the intention of the package of work">
          </div>
        </div>
      </div>
    </div>

    <!-- Leader select box -->
    <div class="control-group" data-ng-class="
      {error: addTaskForm.leader.$dirty && addTaskForm.leader.$invalid,
      success: addTaskForm.leader.$dirty && addTaskForm.leader.$valid}">

      <label class="control-label required" for="leader">Leader</label>

      <div class="controls">
        <select id="leader" name="leader" data-ng-model="defaultTask.leader" required
            data-ng-options="leader as leader.value for leader in availableLeaders"
            data-guidance="The staff member with responsibility for scoping this task.
            This person will normally also run the task once accepted">
          <option value="">Select a leader</option>
        </select>
      </div>
    </div>

    <!-- Division select box -->
    <div class="control-group" data-ng-class="
      {error: addTaskForm.division.$dirty && addTaskForm.division.$invalid,
      success: addTaskForm.division.$dirty && addTaskForm.division.$valid}">

      <label class="control-label required" for="division">Division</label>

      <div class="controls">
        <select id="division" data-ng-model="defaultTask.division" name="division" required
            data-ng-options="division as division.value for division in availableDivisions"
            data-guidance="The Division within this organisation which will take overall
            responsibility for this task">
          <option value="">Select a division</option>
        </select>
      </div>
    </div>

    <hr>

    <!-- Work Items -->
    <div class="clearfix">
      <p class="lead">Work Items</p>

      <table class="table table-condensed content-table workItems" data-ng-form="workItemsForm">

        <colgroup>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
        </colgroup>

        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Item type</th>
            <th>Item</th>
            <th>Description</th>
            <th>%</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>People</th>
            <th>Delete</th>
          </tr>
        </thead>

        <tbody>
          <tr class="parent-line" data-ng-form="workItemForm" data-ng-repeat="workItem in defaultTask.workItems">

            <td>
              <div class="control-group">
                <a class="btn btn-mini btn-mini-c expand" data-toggle="button">
                  <i class="icon-plus"></i>
                </a>
              </div>
            </td>

            <td>
              <div class="control-group">
                <div class="workItemType" data-item="workItem"></div>
              </div>
            </td>

            <td>
              <div class="control-group" data-ng-class="
                {error: workItemForm.item.$dirty && workItemForm.item.$invalid,
                success: workItemForm.item.$dirty && workItemForm.item.$valid}">

                <label>
                  <input type="text" placeholder="Item title" name="item" required
                    data-ng-model="workItem.title"
                    data-guidance-placement="top"
                    data-guidance="A name for this work item. If it's a publication or trial,
                    please give a provisional publication/ trial name.">
                </label>
              </div>
            </td>

            <td>
              <div class="control-group">
                <label>
                  <input type="text" placeholder="Item description"
                    data-ng-model="workItem.description"
                    data-guidance-placement="top"
                    data-guidance="if necessary, this field can store further detail on the nature of work item">
                </label>
              </div>
            </td>

            <td>
              <div class="control-group">
                <span>{{ workItem.percentComplete }}%</span>
                <div class="btn-group" data-guidance="An estimate of the current state of progress of
                  this work item (probably zero for new Items)">
                  <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" data-ng-href="#">
                    <i class="icon-tasks"></i>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a data-ng-click="workItem.percentComplete = 0">0%</a></li>
                    <li><a data-ng-click="workItem.percentComplete = 25">25%</a></li>
                    <li><a data-ng-click="workItem.percentComplete = 50">50%</a></li>
                    <li><a data-ng-click="workItem.percentComplete = 75">75%</a></li>
                    <li><a data-ng-click="workItem.percentComplete = 100">100%</a></li>
                  </ul>
                </div>
              </div>
            </td>

            <td>
              <div class="control-group">
                <label>
                  <input type="text" data-ng-model="workItem.startDate"
                    data-datepicker-popup="dd/MMM/yyyy"
                    data-show-weeks="false"
                    data-guidance-placement="top"
                    data-guidance="Your estimate of when this work item will start.
                    Please leave the field blank if the date is unknown/TBD">
                </label>
              </div>
            </td>

            <td>
              <div class="control-group">
                <label>
                  <input type="text" data-ng-model="workItem.finishDate"
                    data-datepicker-popup="dd/MMM/yyyy"
                    data-show-weeks="false"
                    data-guidance-placement="top"
                    data-guidance="Your estimate of when this work item will finish.">
                </label>
              </div>
            </td>

            <td>
              <div class="control-group">
                <label>
                  <select multiple class="editable-select people-list" data-ng-model="workItem.assigned"
                    data-ng-options="people.id as people.value for people in availableLeaders"
                    data-guidance-placement="top"
                    data-guidance="A list of the staff members who will take part in delivering this work item"
                    title="Click to edit">
                  </select>
                </label>
              </div>
            </td>

            <td>
              <div class="control-group">
                <a class="btn btn-mini remove-btn removeWorkItem" data-index="{{ $index }}"
                  data-items="defaultTask.items">
                  <i class="icon-remove icon-white"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="tfoot">
        <span class="btn btn2 btn-small addWorkItem" data-items="defaultTask.workItems">
          <i class="icon-plus"></i> New Work Item
        </span>
      </div>
    </div>
    <!-- [end] Work Items -->

    <!-- Create / Cancel buttons -->
    <div class="form-actions">
      <input class="btn btn2 btn-primary btn-large" type="submit" value="Create Task"
        data-ui-event="{blur: 'validationTooltip.shown = false'}"
        data-tooltip-watch="validationTooltip.shown"
        data-tooltip-trigger="showTooltip"
        data-tooltip-html-unsafe="
          {{ addTaskForm.title.$invalid && '* Title is required please fill it <br>' || '' }}
          {{ addTaskForm.leader.$invalid && '* Leader is required please select it <br>' || '' }}
          {{ addTaskForm.division.$invalid && '* Division is required please select it <br>' || '' }}
          {{ addTaskForm.workItemsForm.$invalid && '* Please fill out required fields in the work items <br>' || '' }}
          {{ !defaultTask.items.length && '* Please add at least one work item' || '' }}"
        data-tooltip-placement="top">

      <a data-ng-href="#/" class="btn btn2 btn-large cancel-edit">Cancel</a>
    </div>

    <p class="lead">Customer information</p>

    <div class="control-group">
      <label class="control-label" for="name">Name</label>

      <div class="controls">
        <input type="text" id="name" data-ng-model="defaultTask.customerName" placeholder="Name"
          data-guidance="Name of the individual who initially requested this task (e.g. J Smith)">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="tally">Tally</label>

      <div class="controls">
        <input type="text" id="tally" data-ng-model="defaultTask.customerTally" placeholder="Tally"
          data-guidance="Tally of the individual who requires this task (e.g. PERSONNEL ADMIN MGR)">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="organisation">Organisation</label>

      <div class="controls">
        <select id="organisation" data-ng-model="defaultTask.customerOrganisation"
            data-ng-options="organisation.id as organisation.value for organisation in availableOrganisations"
            data-guidance="Name of organisation that is placing the task on us. Please see Department
            Head is the requesting organisation is not in the list.">
          <option value="">Select an organization</option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="phone">Phone</label>

      <div class="controls">
        <input type="text" id="phone" data-ng-model="defaultTask.customerPhone" placeholder="Phone"
          data-guidance="Phone num of the individual who requires this task (e.g. 09380 23421)">
      </div>
    </div>
    <hr>
    <p class="lead">Background</p>

    <div class="control-group">
      <label class="control-label" for="categories">Categories</label>

      <div class="controls">
        <select multiple="" id="categories" class="input-xxlarge" data-ng-model="defaultTask.categories"
          data-ng-options="category.id as category.value for category in availableCategories"
          data-guidance="One or more descriptors for this task. Please see the administrator
          to request new categories.">
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="priority">Priority</label>

      <div class="controls">
        <select id="priority" data-ng-model="defaultTask.priority"
            data-guidance="The customer priority for this task (as justified in the impact statement)"
            data-ng-options="priority as priority.value for priority in availablePriorities">
          <option value="">Select a priority</option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="description">Description</label>

      <div class="controls">
        <textarea id="description" data-ng-model="defaultTask.description" class="input-xxlarge description"
          placeholder="Add description here..."
          data-guidance="An overview of the requirement for this task">
        </textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="impact">Impact</label>

      <div class="controls">
        <textarea id="impact" data-ng-model="defaultTask.impact" class="input-xxlarge"
          data-guidance="How will the customer suffer if this task is not delivered"
          placeholder="Add impact details here...">
        </textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="resource">Resources</label>

      <div class="controls">
        <textarea id="resource" data-ng-model="defaultTask.resources" class="input-xxlarge"
          data-guidance="Give an overview of staff, assets, contracts or other resources required to fulfil this task.
          Loose terms are acceptable. Further detail will normally be expressed in Work Items"
          placeholder="Add resources here...">
        </textarea>
      </div>
    </div>
  </div>
</div>

<div class="form-actions">
  <input class="btn btn2 btn-primary btn-large" type="submit" value="Create Task"
    data-ui-event="{blur: 'validationTooltip.shown = false'}"
    data-tooltip-watch="validationTooltip.shown"
    data-tooltip-trigger="showTooltip"
    data-tooltip-html-unsafe="
      {{ addTaskForm.title.$invalid && '* Title is required please fill it <br>' || '' }}
      {{ addTaskForm.leader.$invalid && '* Leader is required please select it <br>' || '' }}
      {{ addTaskForm.division.$invalid && '* Division is required please select it <br>' || '' }}
      {{ addTaskForm.workItemsForm.$invalid && '* Please fill out required fields in the work items <br>' || '' }}
      {{ !defaultTask.items.length && '* Please add at least one work item' || '' }}"
    data-tooltip-placement="top">

  <a data-ng-href="#/" class="btn btn2 btn-large cancel-edit">Cancel</a>
</div>

</form>
</div>
