/* Add Task */
.addTask {
  .workItems {
    overflow: visible;

    input, select {
      width: 75%;
    }

    .control-group {
      margin: 0;
      white-space: nowrap;
    }

    .people-list {
      height: 50px;
      margin-top: 5px;
    }

    colgroup {
      col { width: 2% }
      col + col { width: 8%; }
      col + col + col { width: 15%; }
      col + col + col + col { width: 15%; }
      col + col + col + col + col { width: 10%; }
      col + col + col + col + col + col { width: 15%; }
      col + col + col + col + col + col + col { width: 15%; }
      col + col + col + col + col + col + col + col { width: 18%; }
      col + col + col + col + col + col + col + col + col { width: 2%; }
    }
  }
}
