.task-item {
  position: relative;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px @ttShadow050;
  .legacyTransition(all, 0.15s, ease-in);

  &:hover {
    box-shadow: 0 0 4px @ttShadow10;

    .buttons {
      opacity: 1;
    }

    .inner-box {
      border-color: @ttSilver;
      background: white;
    }
  }

  .task-content {
    padding: 10px;
  }

  .inner-box {
    position: relative;
    padding: 0;
    border: 1px solid @ttLightSilver;
    border-radius: 4px 4px 0 0;
    background: white;
  }

  .buttons {
    opacity: 0;
    .legacyTransition(all, 0.15s, ease-in);
  }

  .btn-expand {
    position: absolute;
    left: 10px;
    bottom: 0;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    box-shadow: none;
  }

  .task-title {
    display: inline-block;
    margin-left: 10px;
    padding: 3px 4px;
    border-bottom: 1px solid transparent;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: @ttMineShaft;
    vertical-align: middle;
    .legacyTransition(all, 0.1s, ease-in);

    &:hover {
      border-bottom: 1px solid @ttMintTulip;
      background: @ttPolar;
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }
  }

  .table {
    tbody {
      > tr {
        > td {
          background: none;
          font-size: 12px;
          padding: 5px 3px;
          &.timelineCell {
            padding: 5px 0;
            border-left: 1px solid @ttLightSilver;
            background: url("../assets/images/vline.png") 16.6% 0 repeat-y,
            url("../assets/images/vline.png") 33.333% 0 repeat-y,
            url("../assets/images/vline.png") 50% 0 repeat-y,
            url("../assets/images/vline.png") 66.666% 0 repeat-y,
            url("../assets/images/vline.png") 83.4% 0 repeat-y;
          }
        }
      }
    }

    &.content-table {
      margin-bottom: 0;
      table-layout: fixed;

      thead {
        > tr {
          > th {
            background: @ttGallery;
            text-shadow: 1px 1px 0 @ttWhiteShadow25;
          }
        }

        &:first-child {
          > tr:first-child {
            > th:first-child {
              border-top-left-radius: 0;
            }
            > th:last-child {
              border-top-right-radius: 0;
            }
          }
        }
      }
    }

    .progress {
      position: relative;
      height: 10px;
      margin: 0;
      box-shadow: none;
      background: @ttMistGray;
      opacity: 0.7;

      .bar {
        float: right;
        background-image: none;
      }
    }
  }
}

.latest-report {
  margin: 12px 0;
  font-size: 12px;
  color: @ttEmperor;
  line-height: 1.5;

  .lr_label {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.filter {
  label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 13px;
  }

  .st_legend {
    margin-right: 3px;
  }
}

.tasks-filter {
  li {
    a {
      font-size: 13px;
      font-weight: bold;
    }

    .filter-label {
      letter-spacing: 0.5px;
      font-size: 10px;
      font-weight: 300;
      color: @ttBoulder;
      text-transform: uppercase;
    }

    &.active {
      a {
        position: relative;
        text-shadow: 1px 1px 0 @ttShadow10;

        &:after {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          bottom: -6px;
          left: 42%;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid @ttLochmara;
        }

        .filter-label {
          color: @ttFoam;
        }
      }
    }
  }
}

.task-footer {
  position: relative;
  height: 25px;
  padding-top: 5px;
  border-top: 1px solid @ttAlto;
  background: @ttLighterAlabaster;
}

.work-items-container {
  border: 1px solid @ttLightSilver;
  border-top: none;
  border-right: none;
  background: @ttDarkAlabaster;

  .workItems {
    colgroup {
      col { width: 100px }
      col + col { width: 20%; }
      col + col + col { width: 10%; }
      col + col + col + col { width: 15%; }
      col + col + col + col + col {
        width: 40%;
        text-align:center;
        background: @ttRiceCake;
        border-right: 1px solid @ttLightSilver;
      }
    }
  }
}

.workItemsNo {
  font-weight: bold;
  font-size: 1.1em;
}

.progress-line {
  position: relative;
  display: block;
  height: 10px;
  overflow: hidden;
}

.select-period {
  position: relative;
  top: -1px;
  right: 3px;
}

.arrow-indent {
  background: white !important;
  text-align: right;
  color: @ttDoveGray;
  vertical-align: top !important;
}

.lite-view {
  .task-item {
    margin: 0;
    box-shadow: none;

    &:hover {
      box-shadow: none;

      .inner-box {
        background: @ttWhiteShadow10;
        box-shadow: none;
      }
    }

    .buttons {
      display: none;
    }

    .task-content {
      padding: 0;
    }

    .task-title {
      font-size: 12px;

      &:hover {
        text-decoration: underline;
        background: none;
        border-color: transparent;
      }
    }

    .inner-box {
      background: none;
      padding: 0 10px;
      border: none;
    }
  }

  .status {
    width: 80px;
    line-height: 1.1;
    font-size: 10px;
  }

  .latest-report {
    display: none;
  }

  .task-footer {
    display: none;
  }

  .work-items-container {
    display: none !important;
  }
}
