<div class="main-container container-fluid">
<div class="well clearfix actions">
  <div class="pull-left">
    <div class="btn-group btngr2" data-toggle="buttons-radio">

      <button type="button" class="btn btn2"
        data-ng-click="setSingleFilter('view', 'lite')"
        data-ng-class="{active: isFilter('view', 'lite')}">
        <i class="icon icon-align-justify"></i>
        List
      </button>

      <button type="button" class="btn btn2"
        data-ng-click="setSingleFilter('view', 'summary')"
        data-ng-class="{active: isFilter('view', 'summary')}">
        <i class="icon icon-th-list"></i>
        Summary
      </button>

      <button type="button" class="btn btn2"
        data-ng-click="setSingleFilter('view','detail')"
        data-ng-class="{active: isFilter('view', 'detail')}">
        <i class="icon icon-list-alt"></i>
        Detail
      </button>

    </div>
  </div>
  <div class="filter pull-right">
    <label>Filter:</label>

    <div class="btn-group btngr2" data-toggle="buttons-checkbox">
      <button type="button" class="btn btn2 btnScoped"
        data-ng-class="{active: isFilter('status', 'Being Scoped')}"
        data-ng-click="toggleFilter('status', 'Being Scoped')">
        <i class="st_legend st_scoped"></i>
        Being Scoped
      </button>

      <button type="button" class="btn btn2 btnPending"
        data-ng-class="{active: isFilter('status', 'Pending Acceptance')}"
        data-ng-click="toggleFilter('status', 'Pending Acceptance')">
        <i class="st_legend st_pending"></i>
        Pending Acceptance
      </button>

      <button type="button" class="btn btn2 btnLive"
        data-ng-class="{active: isFilter('status', 'Ongoing')}"
        data-ng-click="toggleFilter('status', 'Ongoing')">
        <i class="st_legend st_live"></i>
        Ongoing
      </button>

      <button type="button" class="btn btn2 btnComplete"
        data-ng-class="{active: isFilter('status', 'Complete')}"
        data-ng-click="toggleFilter('status', 'Complete')">
        <i class="st_legend st_completed"></i>
        Complete
      </button>

      <button type="button" class="btn btn2 btnSuspended"
        data-ng-class="{active: isFilter('status', 'Suspended')}"
        data-ng-click="toggleFilter('status', 'Suspended')">
        <i class="st_legend st_suspended"></i>
        Suspended
      </button>
    </div>
  </div>
</div>

<div class="tasks-list" data-ng-class="{'lite-view': isFilter('view', 'lite')}" data-ng-controller="TasksListCtrl">

<div class="clearfix task-item" data-ng-repeat="task in theseTasks | filter: tasksQuery">
  <div class="inner-box">
    <div class="task-content">
      <div class="buttons pull-right">
        <span class="btnStatusReport btn btn2 btn-primary btn-small"
          data-ng-click="openActivityWindow('report', task)">
          <i class="icon-tag icon-white"></i>
          Add Status Report
        </span>
        <a data-ng-href="#/task/{{ task.taskId }}" class="btn btn2 btn-small">
          <i class="icon-pencil"></i> Edit
        </a>
      </div>
      <span class="status status-{{ task.status.id }}">{{ task.status.value }}</span>
      <a data-ng-href="#/task/{{ task.taskId }}" class="task-title">{{ task.title }}</a>

      <p class="latest-report">
        <span class="lr_label">Latest report:</span>
        {{ task.latestReport }}
      </p>
    </div>

    <!--/task-content-->
    <div class="task-footer">
      <a class="btn btn-expand" data-ng-class="{dropup: !task.detailView}"
         data-ng-click="task.detailView = !task.detailView">
        <span class="workItemsNo">{{task.workItems.length}}</span>
        work items
        <span class="caret"></span>
      </a>
    </div>
  </div>

  <!--/inner-box-->
  <div data-ng-switch data-on="task.detailView">
    <div class="work-items-container" data-ng-show="task.detailView" data-ng-switch-when="true">
      <div class="pull-right select-period">
        <!-- TimePeriod directive -->
        <div class="timePeriod" data-period="period"></div>
        <!--/ TimePeriod directive -->
      </div>
      <div class="row-fluid">
        <div class="span12">
          <table class="table table-condensed content-table workItems">
            <colgroup>
              <col>
              <col>
              <col>
              <col>
              <col class="completion">
            </colgroup>
            <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Work Item</th>
              <th>Complete</th>
              <th>End Date</th>
              <th class="completion">
                <div class="timeBarAxis" data-axis="period" data-time-bars="task.workItems"></div>
              </th>
            </tr>
            </thead>
            <tbody>

            <tr data-ng-repeat="workItem in task.workItems">
              <td>
                <i class="icon-sprite icon-trial"></i>
                <i class="icon-sprite icon-finance"></i>
                <i class="icon-sprite icon-publication"></i>
                <i class="icon-sprite icon-deliverable"></i>
              </td>
              <td>{{workItem.title}}</td>
              <td>{{workItem.percentComplete}}%</td>
              <td data-iso-date-start="{{workItem.startDate | date: 'yyyy-MM-dd'}}"
                data-iso-date-finish="{{workItem.finishDate | date: 'yyyy-MM-dd'}}">
                {{workItem.finishDate | date: 'dd/MMM/yyyy'}}
              </td>
              <td>
                <div class="canvas">
                  <div class="timeBar" data-complete-percent="workItem.percentComplete" data-item="workItem"
                    data-time-axis="period" data-is-collapsed="!task.detailView">
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--/row-fluid-->
    </div>
  </div>
</div>

<!-- activityWindowDirective -->
<div class="activityWindow"></div>
<!--/ activityWindowDirective -->

</div>
<!--/tasks-list-->

</div>
