<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <title>Chars limit demo</title>

    <script type="text/javascript" src="../../../../../bin/assets/ng-boilerplate.js"></script>
    <script type="text/javascript" src="./demo.js"></script>

    <link rel="stylesheet" type="text/css" href="../../../../../bin/assets/ng-boilerplate.css"/>

  </head>
  <body class="ng-cloak" id="ng-app" ng-app="DemoApp">

    <div ng-controller="DemoCtrl" class="well">
      <h2>CharsLimit Directive</h2>
      <div class="row">
        <div class="span6">
          <div class="control-group">
            <label>Comment:
              (chars left <span model-text="data.message" limit="50" class="charsCounter"></span>)
            </label>
            <textarea class="input-xlarge" ng-model="data.message"></textarea>
          </div>
        </div>
        <div class="span6"></div>
      </div>
    </div>
  </body>
</html>