/**
 * Task Tracker color map
 */

@ttMineShaft: #333;
@ttTundora: #444;
@ttEmperor: #555;
@ttDoveGray: #666;
@ttBoulder: #777;
@ttDustyGray: #999;
@ttSilverChalice: #aaa;
@ttSilver: #bbb;
@ttMistGray: #c1c0b5;
@ttLightSilver: #ccc;
@ttDarkAlto: #d5d5d5;
@ttAlto: #ddd;

@ttMercury: #e6e6e6;
@ttPampas: #ece6e2;
@ttGallery: #eee;
@ttSeashell: #f1f1f1;
@ttConcrete: #f2f2f2;
@ttLightConcrete: #f3f3f3;
@ttWildSand: #f5f5f5;
@ttLightWildSand: #f6f6f6;
@ttLightAlabaster: #f8f8f8;
@ttLighterAlabaster: #f9f9f9;
@ttAlabaster: #fafafa;
@ttDarkAlabaster: #fbfbfb;

@ttFieryOrange: #b35516;
@ttHotCinnamon: #df6b1d;
@ttTango: #ea6d1a;

@ttMediumCarmine: #af3639;
@ttAlizarinCrimson: #e9322d;
@ttMandysPink: #f2bbc5;
@ttCherub: #f8d8d9;
@ttChampagne: #fbeed5;
@ttShalimar: #ffffc0;
@ttRiceCake: #fffef2;
@ttIvory: #fffff0;

@ttApple: #55973b;

@ttChambray: #35618e;
@ttCalypso: #366696;
@ttSteelBlue: #5586b9;
@ttDanube: #6d9bc9;
@ttSanMarino: #3b73af;
@ttMariner: #1d7bc3;
@ttEasternBlue: #207faa;
@ttBostonBlue: #3a87ad;
@ttMatisse: #1F79B2;
@ttLochmara: #0088cc;
@ttDarkCuriousBlue: #2b85bc;
@ttCuriousBlue: #2684c0;
@ttLightCuriousBlue: #2f97d8;
@ttLighterCuriousBlue: #309dcf;
@ttShakespeare: #4a9ed3;
@ttSeagull: #7bbce5;
@ttLinkWater: #d9edf7;
@ttOnahau: #c5e2ff;
@ttMintTulip: #cae9f6;
@ttFoam: #d1effb;
@ttDarkFoam: #e6f4fc;
@ttPolar: #e8f4fa;

/**
 * Shadows
 */

@ttShadow20: rgba(0, 0, 0, 0.2);
@ttShadow15: rgba(0, 0, 0, 0.15);
@ttShadow10: rgba(0, 0, 0, 0.1);
@ttShadow075: rgba(0, 0, 0, 0.075);
@ttShadow050: rgba(0, 0, 0, 0.05);
@ttShadow040: rgba(0, 0, 0, 0.04);
@ttShadow030: rgba(0, 0, 0, 0.03);

@ttWhiteShadow10: rgba(255, 255, 255, 0.1);
@ttWhiteShadow25: rgba(255, 255, 255, 0.25);
@ttWhiteShadow50: rgba(255, 255, 255, 0.5);
@ttWhiteShadow80: rgba(255, 255, 255, 0.8);
