/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

@import '../../vendor/bootstrap/less/variables.less';

/**
 * Proportions
 */

@navbarNarrowedWidth: 1265px;

/**
 * Sprite icons path
 */

@iconSpritePath: "../assets/images/glyphicons-halflings.png";
@iconWhiteSpritePath: "../assets/images/glyphicons-halflings-white.png";

/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;
