<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <title>TimeBarAxis demo</title>

    <script type="text/javascript" src="../../../../../bin/assets/ng-boilerplate.js"></script>
    <script type="text/javascript" src="./demo.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../../../bin/assets/ng-boilerplate.css"/>


  </head>
  <body class="ng-cloak" id="ng-app" ng-app="DemoApp">
  <style>
    .completion, .canvas {
      width: 400px;
      background-color:#bbd8e9;
    }
    .table.content-table thead tr th.completion {
      padding-right: 1px;
    }
    .timeBar {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 30px;
    }
    .axisColumn {
      display: inline-block;
      width: 40px;
      position: relative;
    }
    .columnMonth {
      border: 0px #dbdbdb solid;
      border-left-width: 1px;
    }
    .columnBar {
      border: 0 #dbdbdb solid;
      border-left-width: 1px;
      background-color: #ece6e2;
      height: 10000px;
      width: 100%;
      position: absolute;
      top: 26px;
    }
    .indentReset  {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  </style>

    <div ng-controller="DemoCtrl" class="well">
      <h2>TimeAxis</h2>
      <pre class="">Current date: {{datePicker | date:longDate}}</pre>
      <button class="btn" data-ng-click="addItem()">Add Item</button>
      <div class="row">
        <div class="~span6">
          <table class="table content-table workItems">
            <colgroup>
              <col style="width: 2%;">
              <col style="width: 8%;">
              <col style="width: 15%;">
              <col style="width: 15%;">
              <col>
              <col>
              <col>
              <col style="width: 15%;">
              <col style="width: 7%;text-align:center;background:#fffef2;border-right:1px solid #CCC;">
              <col style="width: 3%;">
            </colgroup>
            <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Item type</th>
              <th>Item</th>
              <th>Description</th>
              <th>%
              </th><th>Start Date</th>
              <th>Due Date</th>
              <th>People</th>
              <th class="completion indentReset">
                <div class="timeBarAxis" data-axis="timeAxis" data-time-bars="timeBars"></div>
              </th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>

            <tr class="parent-line" data-ng-repeat="timeBar in timeBars">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="indentReset">
                <div class="canvas">
                  <div class="timeBar" data-complete-percent="timeBar.percent" data-item="timeBar.item" data-time-axis="timeAxis"></div>
                </div>
              </td>
              <td class="text-center">
                <a data-ng-click="deleteItem($index)" class="btn btn-mini disabled remove-btn">
                  <i class="icon-white icon-remove"></i>
                </a>
              </td>
            </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>

  </body>
</html>