<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <title>Add comment window</title>

    <script type="text/javascript" src="../../../../../bin/assets/ng-boilerplate.js"></script>
    <script type="text/javascript" src="./demo.js"></script>

    <link rel="stylesheet" type="text/css" href="../../../../../bin/assets/ng-boilerplate.css"/>

  </head>
  <body class="ng-cloak" id="ng-app" ng-app="DemoApp">

    <div ng-controller="DemoCtrl" class="well">
      <h2>Task activity</h2>
      <div class="row">
        <div class="span6">
          <a role="button" class="btnStatusReport btn btn2 btn-primary btn-small"
             data-ng-click="openActivityWindow('report', task)">
            <i class="icon-tag icon-white"></i> Add Status Report
          </a>

          <a href="#" data-toggle="modal" class="btn btn2" role="button"
             data-ng-click="openActivityWindow('comment', task)">
            <i class="icon-comment"></i> Add Comment </a>
        </div>
        <div class="span6"></div>
      </div>

      <h3>Task info and Activity</h3>
      <div class="row">
        <div class="span6">
          <div class="control-group">
            <label class="control-label">
              <span class="status status-{{task.status}}">{{task.status}}</span>
              {{task.title}}
            </label>
            <hr/>
            <div class="controls" style="overflow: scroll; height: 300px">
              <ul data-ng-repeat="report in lastComment() | orderBy:'date':true">
                <li><strong>Date Reported:</strong> {{report.date}}</li>
                <li><strong>TaskId:</strong> {{report.taskId}}</li>
                <li><strong>Status:</strong> <span class="label label-{{report.status}}">{{report.status}}</span></li>
                <li><strong>Report:</strong> {{report.report}}</li>
                <li><strong>Type:</strong> {{report.type}}</li>
                <li><strong>Author:</strong> {{report.author}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="span6"></div>
      </div>

      <div class="activityWindow"></div>

    </div>

  </body>
</html>