<form class="formAddComment">
  <div class="modal-header">
    <button type="button" data-ng-click="close()" class="close">x</button>
    <h3>Add Comment</h3>
  </div>

  <div class="modal-body">
    <p class="lead">{{task.title}}</p>
    <div class="row-fluid">
      <div class="span7">
        <div class="control-group">
          <label>Comment:
            <small class="text-error status-rpt-warning">Characters left: </small>
            <small data-model-text="report.text" data-limit="255"
             class="charsCounter text-error">{{limit}}</small>
          </label>
          <textarea id="comment-text" class="input-xlarge" data-ng-model="report.text"
            data-focus-on-element></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" data-ng-click="submitComment()" class="btn btn-primary btnChange">Add Comment</button>
    <button type="button" data-ng-click="close()" class="btn btn2 btnClose">Close</button>
  </div>
</form>
