<form class="formStatusReport" data-ng-submit="submit()">
  <div class="modal-header">
    <button type="button" data-ng-click="close()" class="close">x</button>
    <h3>Add Status Report</h3>
  </div>

  <div class="modal-body">
    <p class="lead">{{task.title}}</p>
    <div class="row-fluid">
      <div class="span7">
        <div class="control-group">
          <label for="status-report">Status:</label>
          <select data-ng-model="task.status.id" id="status-report"
              data-ng-options="state.id as state.value for state in states">
            <option value="">-- Choose Status --</option>
          </select>
        </div>
        <div class="control-group">
          <label>Comment:
            <small class="text-error status-rpt-warning">Characters left: </small>
            <small data-model-text="report.text" data-limit="255"
                   class="charsCounter text-error">255</small>
          </label>

          <textarea id="comment-report" class="input-xlarge" data-ng-model="report.text"
            data-focus-on-element></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" data-ng-click="submitReport()" class="btn btn-primary btnChange">Add Status Report</button>
    <button type="button" data-ng-click="close()" class="btn btn2 btnClose">Close</button>
  </div>
</form>
