<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=10" />
  <title>TimePeriod demo</title>

  <script type="text/javascript" src="../../../../../bin/assets/ng-boilerplate.js"></script>
  <script type="text/javascript" src="./demo.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../../../bin/assets/ng-boilerplate.css"/>


</head>
<body class="ng-cloak" id="ng-app" ng-app="DemoApp">
<style>
  .timePeriod {
    height: 30px;
    width: 200px;
  }
</style>

<div ng-controller="DemoCtrl" class="well">
  <h2>TimePeriod</h2>
  <pre class="">Current date: {{datePicker | date:longDate}}</pre>
  <pre class="">Period: {{period}}</pre>
  <div class="timePeriod" data-period="period"></div>

</div>

</body>
</html>