<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <title>Progressbar demo</title>

    <script type="text/javascript" src="../../../../../bin/assets/ng-boilerplate.js"></script>
    <script type="text/javascript" src="./demo.js"></script>

    <link rel="stylesheet" type="text/css" href="../../../../../bin/assets/ng-boilerplate.css"/>

  </head>
  <body class="ng-cloak" id="ng-app" ng-app="DemoApp">
    <div ng-controller="WorkItemDemoCtrl" class="well">
      <div class="row">
        <div class="span6">
          <h3>Work Item Types</h3>
          <h2>Editable item</h2>
          <div class="workItemType" data-item="workItem"></div>
          <h2>Static item</h2>
          <div class="workItemTypeStatic" data-item="workItem"></div>
        </div>
      </div>
      <div class="row">
        <div class="span6" style="margin-top: 10px;">
          <button class="btn btn-small btn-inverse" ng-click="change()">New Values</button>
        </div>
      </div>
    </div>
  </body>
</html>