<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="jumbotron">
        <h1>
          Welcome to Task Tracker
        </h1>
        <p>
          This is a template for a simple marketing or informational website.
          It includes a large callout called the hero unit and three supporting pieces of content.
          Use it as a starting point to create something more unique.
        </p>
        <p>
          <a class="btn btn-primary btn-large" href="#">Learn more</a>
        </p>
      </div>
    </div>
  </div>

  <div class="row-fluid clearfix">
    <div class="span4">
      <h2>
        Who is this for?
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn" href="#">View details &raquo;</a>
      </p>
    </div>
    <div class="span4">
      <h2>
        What is this for?
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn" href="#">View details &raquo;</a>
      </p>
    </div>
    <div class="span4">
      <h2>
        How do I get help?
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn" href="#">View details &raquo;</a>
      </p>
    </div>
  </div>
</div>
