<div data-ng-style="{'left': elmLeftOffset + 'px', 'width': progressWidth + 'px'}"
   class="startDateOffset" style="position: absolute" data-ng-class="{'visible': elmVisible}">
  <div data-ng-style="{width: progressWidth + 'px'}">
    <div data-progress data-percent="percent" class="progress" data-animate="false"></div>
  </div>
</div>
