<div class="btn-group btn-nav">
  <button class="btn btn2 btn-mini" data-ng-click="prevPeriod()">
    <i class="icon-chevron-left"></i>
  </button>
  <div class="btn-group">
    <a class="btn  btn2 btn-mini dropdown-toggle">
      <span class="view-period">{{viewPeriod}}</span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li data-ng-repeat="period in periods" data-ng-click="selectPeriod(period)"><a>{{periodLabel(period)}}</a></li>
    </ul>
  </div>
  <button class="btn btn2 btn-mini"  data-ng-click="nextPeriod()">
    <i class="icon-chevron-right"></i>
  </button>
</div>
