<!DOCTYPE html>
<html data-ng-app="taskApp" data-ng-controller="AppCtrl">
  <head>
    <title>Task Tracker</title>

      <meta http-equiv="X-UA-Compatible" content="IE=10" />

    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
      <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>

    <!-- compiled JS -->
    <% scripts.forEach( function ( file ) { %>
      <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
  </head>

  <body>
    <!--[if gte IE 8]>
    <div class="IE8">
    <![endif]-->

    <div class="wrap">
      <div class="navbar-ui-view" data-ng-include data-src="'navbar/navbar.tpl.html'"></div>

      <div class="main-ui-view" data-ui-view="main"></div>
    </div>

    <footer class="page-footer">
      <p class="text-center">&copy; Task Tracker 2013</p>
      <p class="text-right text-info">
        Branch:<strong>@@GitBranch@@</strong>, Version:<strong>@@GitVersion@@</strong>,
        Build date:<strong>@@BuildDate@@</strong>
      </p>
    </footer>

    <!--[if gte IE 8]>
    </div>
    <![endif]-->
  </body>
</html>
