<div class="title-container">
  <span class="status status-{{task.status.id}}">{{task.status.value}}</span>
  <h1 class="page-title">
    <a class="editable" href="#" data-editable-text="task.title" data-e-class="editableTitle" data-e-required
       data-onbeforesave="updateTask($data, 'title')"
       data-e-guidance="Short, snappy title that uniquely describes the intention of the package of work">
      {{task.title}}
    </a>
  </h1>
</div>
<div class="main-container container-fluid page">
  <div class="row-fluid top-section">
    <div class="span6">
      <div class="form-horizontal view-mode task-form">
        <p class="lead">Task Details</p>

        <div class="control-group">
          <label class="control-label">Leader:</label>
          <div class="controls">
            <a href="#" class="editable" data-editable-select="task.leader.id" data-e-required
               data-e-ng-options="leader.id as leader.value for leader in availableLeaders"
               data-onbeforesave="updateTask($data, 'leader')"
               data-e-guidance="The staff member with responsibility for scoping this task.
                This person will normally also run the task once accepted">
              {{showTaskLeader()}}
            </a>
            <a class="search_more" data-ng-href="#"></a>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Categories:</label>
          <div class="controls">
            <a class="editable" href="#" data-editable-select="task.categories"
               data-e-multiple data-e-ng-options="category.id as category.value for category in availableCategories"
               data-onbeforesave="updateTask($data, 'categories')"
               data-e-guidance="One or more descriptors for this task. Please see the administrator
                to request new categories.">
              {{showTaskCategories()}}
            </a>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Priority:</label>
          <div class="controls">
            <a href="#" class="editable" data-editable-select="task.priority.id"
               data-e-ng-options="priority.id as priority.value for priority in availablePriorities"
               data-onbeforesave="updateTask($data, 'priority')"
               data-e-guidance="The customer priority for this task (as justified in the impact statement)">
              {{showTaskPriority()}}
            </a>
            <a class="search_more" data-ng-href="#"></a>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Division:</label>
          <div class="controls">
            <a href="#" class="editable" data-editable-select="task.division.id"
               data-e-ng-options="division.id as division.value for division in availableDivisions"
               data-onbeforesave="updateTask($data, 'division')"
               data-e-guidance="The Division within this organisation which will take overall
                responsibility for this task">
              {{showTaskDivision()}}
            </a>
            <a class="search_more" data-ng-href="#"></a>
          </div>
        </div>

        <p class="lead">Customer Information</p>

        <div class="control-group">
          <label class="control-label">Name:</label>
          <div class="controls">
            <a href="#" class="editable" data-editable-text="task.customerName" title="Click to edit"
               data-onbeforesave="updateTask($data, 'customerName')"
               data-e-guidance="Name of the individual who initially requested this task (e.g. J Smith)">
              {{task.customerName || 'empty'}}
            </a>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Tally:</label>
          <div class="controls">
            <a href="#" class="editable" data-editable-text="task.customerTally" title="Click to edit"
               data-onbeforesave="updateTask($data, 'customerTally')"
               data-e-guidance="Tally of the individual who requires this task (e.g. PERSONNEL ADMIN MGR)">
              {{task.customerTally || 'empty'}}
            </a>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Organisation:</label>
          <div class="controls">
            <a class="editable" href="#" data-editable-select="task.customerOrganisationId"
               data-e-ng-options="org.id as org.value for org in availableOrganisations"
               data-onbeforesave="updateTask($data, 'customerOrganisationId')"
               data-e-guidance="Name of organisation that is placing the task on us. Please see Department
                Head is the requesting organisation is not in the list.">
              {{showCustomerOrganisation()}}
               </a>
            <a class="search_more" data-ng-href="#"></a>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Phone:</label>
          <div class="controls">
            <a href="#" class="editable" data-editable-text="task.customerPhone" title="Click to edit"
               data-onbeforesave="updateTask($data, 'customerPhone')"
               data-e-guidance="Phone num of the individual who requires this task (e.g. 09380 23421)">
              {{task.customerPhone || 'empty'}}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="activity">
        <div class="activity-actions clearfix">
          <div class="span6">
            <span class="btnStatusReport btn btn2 btn-primary" role="button"
                data-ng-click="openActivityWindow('status', task)">
              <i class="icon-tag icon-white"></i> Add Status Report
            </span>
            <span class="btnAddComment btn btn2" role="button"
                data-ng-click="openActivityWindow('comment', task)">
              <i class="icon-comment"></i> Add Comment
            </span>
            <div class="testAddComment"></div>
          </div>
          <div class="span6 text-right">
            <div data-toggle="buttons-checkbox" class="btn-group">
              <button class="btn btn2 btn-small" type="button"
               data-ng-class="{'active': isActiveType('status')}"
               data-ng-click="resolveActivityType('status')">Status Reports</button>

              <button class="btn btn2 btn-small" type="button"
               data-ng-class="{'active': isActiveType('comment')}"
               data-ng-click="resolveActivityType('comment')">Comments</button>

              <button class="btn btn2 btn-small" type="button"
               data-ng-class="{'active': isActiveType('audit')}"
               data-ng-click="resolveActivityType('audit')">Audit Log</button>
            </div>
          </div>
        </div>
        <div class="activity-items">
          <ul>
            <li data-ng-repeat="activity in task.updates | filter: filterActivityType | orderBy:'date':true">
              <div class="pull-left status-box" data-ng-show="activity.type == 'status'">
                <span class="label status-{{activity.status.id}}">{{activity.status.value}}</span>
              </div>
              <p>{{activity.comment}}</p>
              <p class="meta-info muted">
                <small class="comment-author">{{activity.author.value}}</small>
                <small class="comment-date muted">
                  <i class="icon-calendar"></i> {{activity.dateReported | date: 'dd/MMM/yy'}}
                </small>
              </p>
            </li>
          </ul>
        </div>
      </div><!--/activity-->
    </div>
  </div>

  <div class="clearfix"></div>
    <div>
      <p class="pull-left lead">Work Items</p>
      <div class="pull-right">
        <div class="select-period">
          <!-- TimePeriod directive -->
          <div class="timePeriod" data-period="period"></div>
          <!--/ TimePeriod directive -->
        </div>
      </div>
      <div class="clearfix">
    </div>

    <table class="table table-condensed content-table workItems">
      <colgroup>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
      </colgroup>
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Item type</th>
        <th>Item</th>
        <th>Description</th>
        <th>%
        </th><th>Start Date</th>
        <th>Due Date</th>
        <th>People</th>
        <th class="completion">
          <div class="timeBarAxis" data-axis="period"></div>
        </th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr class="parent-line" data-ng-repeat="workItem in task.workItems">
        <td>
          <a class="btn btn-mini btn-mini-c expand" data-ng-href="#">
            <i class="icon-plus"></i>
          </a>
        </td>
        <td>
          <div class="workItemType" data-item="workItem"></div>
        </td>
        <td>
          <a class="editable" href="#" data-editable-text="workItem.value" title="Click to edit"
            data-onbeforesave="updateWorkItem($data, 'name')" data-e-placeholder="Item title">
            {{workItem.value}}
          </a>
        </td>
        <td>
          <a class="editable" href="#" data-editable-text="workItem.description" title="Click to edit"
            data-e-placeholder="Item description">
            {{workItem.description}}
          </a>
        </td>
        <td>
          <a class="editable" href="#" data-editable-text="workItem.percentComplete" title="Click to edit">
            {{workItem.percentComplete}}%
          </a>
        </td>
        <td>
          <a class="editable" href="#" data-editable-bsdate="workItem.startDate" data-e-datepicker-popup="dd/MMM/yyyy"
             data-e-show-weeks="false" title="Select date"
             data-iso-date="{{workItem.startDate | date: 'yyyy-MM-dd'}}">
            {{workItem.startDate | date: 'dd/MMM/yyyy'}}
          </a>
        </td>
        <td>
          <a class="editable" href="#" data-editable-bsdate="workItem.finishDate" data-e-datepicker-popup="dd/MMM/yyyy"
             data-e-show-weeks="false" data-e-placement="right" title="Select date"
             data-iso-date="{{workItem.finishDate | date: 'yyyy-MM-dd'}}">
            {{workItem.finishDate | date: 'dd/MMM/yyyy'}}
          </a>
        </td>
        <td>
          <a class="editable" href="#" data-editable-select="workItem.assigned"
             data-e-multiple data-e-ng-options="leader.id as leader.value for leader in availableLeaders">
            {{showWorkItemPeople(workItem.assigned)}}
          </a>
        </td>
        <td>
          <div class="canvas">
            <div class="timeBar" data-complete-percent="workItem.percentComplete" data-item="workItem"
                 data-time-axis="period"></div>
          </div>
        </td>
        <td class="text-center">
          <a class="btn btn-mini disabled remove-btn">
            <i class="icon-white icon-remove"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="tfoot">
      <span class="btn btn2 btn-small addWorkItem" data-items="task.workItems">
        <i class="icon-plus"></i> New Work Item
      </span>
    </div>
  </div>
  <hr>


  <div class="form-horizontal task-form">
    <p class="lead">Background</p>

    <div class="control-group">
      <label class="control-label">Description:</label>
      <div class="controls">
        <a class="editable description" data-ng-bind-html-unsafe="task.description" href="#"
           data-editable-textarea="task.description" data-e-class="editableBackgroundInfo" title="Click to edit"
           data-onbeforesave="updateTask($data, 'description')"
           data-e-guidance="An overview of the requirement for this task">
        </a>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Impact:</label>
      <div class="controls">
        <a class="editable description" data-ng-bind-html-unsafe="task.impact" href="#"
           data-editable-textarea="task.impact" data-e-class="editableBackgroundInfo" title="Click to edit"
           data-onbeforesave="updateTask($data, 'impact')"
           data-e-guidance="How will the customer suffer if this task is not delivered">
        </a>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Resources:</label>
      <div class="controls">
        <a class="editable description" data-ng-bind-html-unsafe="task.resources" href="#"
           data-editable-textarea="task.resources" data-e-class="editableBackgroundInfo" title="Click to edit"
           data-onbeforesave="updateTask($data, 'resources')"
           data-e-guidance="Give an overview of staff, assets, contracts or other resources required to fulfil this task.
            Loose terms are acceptable. Further detail will normally be expressed in Work Items">
        </a>
      </div>
    </div>
  </div>

  <!-- activityWindowDirective -->
  <div class="activityWindow"></div>
  <!--/ activityWindowDirective -->

</div>
