/*View Task*/
.top-section {
  border-bottom: 1px solid @ttAlto;
  margin-bottom: 20px;
}

.mode-actions {
  margin-bottom: 30px;
}

.mode-actions {
  ul {
    display: inline;
    margin-left: 0;
    float: left;
    margin-bottom: 10px;
  }
}

.mode-actions {
  ul {
    li {
      float: left;
    }
  }
}

.mode-actions {
  ul {
    li {
      &.separator {
        width: 0;
        border-right: 1px dotted @ttLightSilver;
        height: 30px;
        margin: 0 10px;
      }
    }
  }
}

.edit-mode-actions {
  .btn {
    &.btn-primary {
      margin-right: 10px;
    }
  }
}

.activity {
  margin-top: -20px;
}

.activity-actions {
  .linear-gradient(@ttLightAlabaster, @ttGallery, 0, 100);
  padding: 10px;
  box-shadow: 1px 1px 0 white inset, 1px 3px 4px @ttShadow075;
  border-left: 1px solid @ttAlto;
  border-right: 1px solid @ttAlto;
  position: relative;
  z-index: 1;
}

.activity-items {
  p {
    margin-bottom: 5px;
  }
}

.activity {
  .activity-items {
    background: url("./images/squairy_light2.png") left top repeat @ttAlabaster;
    padding: 10px;
    height: 376px;
    overflow: auto;
    border: 1px solid @ttDarkAlto;
    border-bottom: none;
    /*border-radius:3px;*/
    box-shadow: 0 -5px 5px @ttShadow050 inset, 0 4px 4px @ttShadow050 inset;
    position: relative;
  }
}

.activity {
  .activity-items {
    > ul {
      margin: 0;

      > li {
        background: white;
        border-radius: 4px;
        padding: 5px 10px;
        margin-bottom: 10px;
        box-shadow: -1px 1px 1px @ttShadow10;
        .legacyTransition(all, 0.1s, linear);

        &:hover {
          border-color: @ttSilver;
        }
      }
    }
    &:after {
      content: '';
      box-shadow: 1px 6px 6px @ttShadow10 inset;
      display: inline-block;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.status-box {
  margin-right: 10px;
}

p {
 &.meta-info {
   margin: 0;
   padding: 3px 0;
   line-height: 1;

   small {
     line-height: 1;
     display: inline-block;
   }

   .comment-date {
     float: right;
   }

   .comment-author {
     padding-right: 10px;
     margin-right: 10px;
   }
 }
}


.chk_c {
  background: white;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 20px;
  box-shadow: 1px 1px 0 @ttShadow10;
  .legacyTransition(all, 0.15s, ease-in);
}

.chk_c {
  label {
    font-size: 13px;
    margin: 0;
    color: @ttMineShaft;
    padding: 3px 12px 3px 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  input:focus {
    outline: none;
  }

  .checkbox {
    input[type="checkbox"] {
      margin-left: 0;
      margin-right: 5px;
    }
  }

  &.expanded {
    label {
      color: @ttMineShaft;

    }
  }
}

/* View task form */
.task-form {
  .form-actions {
    display: none;
  }

  &.form-horizontal {
    .control-label {
      width: 120px;
    }

    .controls {
      margin-left: 130px;
    }
  }
}


.edit-mode-actions {
  display: none;
}

.modal {
  form {
    margin-bottom: 0;
  }
}

.input-container {
  margin-top: 5px;
}

.editable-address {
  display: block;
  margin-bottom: 5px;
}

.editable-address {
  span {
    width: 70px;
    display: inline-block;
  }
}

.completion,
.canvas {
  width: 400px;
}

.table {
  &.content-table {
    thead {
      tr {
        th {
          &.completion {
            padding: 0 1px 0 0;
          }
        }
      }
    }
  }
}
.workItems {
  margin-bottom: 0;
  overflow: hidden;

  colgroup {
    col {
      width: 2%;

      + col {
      width: 8%;

        + col {
          width: 15%;

          + col {
            width: 15%;

            + col {
              width: auto;

              + col {
                width: auto;

                + col {
                  width: auto;

                  + col {
                    width: 15%;

                    + col {
                      width: 400px;
                      text-align: center;
                      background: @ttRiceCake;
                      border-right: 1px solid @ttLightSilver;

                      + col {
                        width: 3%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  + .tfoot {
    padding: 8px;
    background: @ttAlabaster;
    border-top: 1px solid @ttAlto;
    box-shadow: 0 2px 3px @ttShadow050 inset;
  }
}

.timeBar {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30px;

  .startDateOffset {
    visibility: hidden;
    &.visible {
      visibility: visible;
    }
  }
}

.axisColumn {
  display: inline-block;
  width: 40px;
  position: relative;
}

.columnMonth {
  border: 0px @ttAlto solid;
  border-left-width: 1px;
}

.columnBar {
  border: 0 @ttAlto solid;
  border-left-width: 1px;
  background-color: @ttPampas;
  height: 10000px;
  width: 100%;
  position: absolute;
  top: 26px;
}

/* hiding element */
.editable-hide {
  display: none;
}

.editable-wrap {
  /* for single editable element */
  display: inline-block;
  white-space: nowrap;
  margin: 0;

  /* remove bottom-margin for bootstrap */
  .editable-controls, .editable-error {
    margin-bottom: 0;
  }

  /* remove bottom-margin of inputs */
  .editable-controls {
    > input, select, textarea {
      margin-bottom: 0;
    }
  }
}

.editable-buttons {
  display: inline-block;
  vertical-align: top;
  button {
    margin-left: 5px;
  }
}

.editableTitle {
  width: 480px;
}

.editableBackgroundInfo {
  width: 800px;
}

.editable-wrap {
  + .search_more {
    display: none;
  }
}
