<a title="{{type.title}}" data-toggle="button" data-ng-repeat="type in types" class="btn btn-mini btn-mini-b"
    data-ng-class="{'active': isActive(type.name)}" data-ng-click="change(type.name)">
  <i class="icon-sprite icon-{{type.title | lowercase}}"></i>
</a>
