.alert-warning {
  position: relative;
  display: none;

  &:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: 8px;
    left: -7px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid @ttChampagne;
  }

  #task-title:focus & {
    display: inline-block;
  }
}
