.btn.btn-b {
  height: 26px;
  padding: 4px 16px;
  border: 1px solid @ttCalypso;
  background: @ttDanube;
  color: white;
  line-height: 1;
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 0 @ttShadow15;
  text-transform: uppercase;
}

.btn.status {
  width: 120px;
  border: 1px solid transparent;
  box-shadow: none;
  font-size: 11px;
}

.btn.btn-mini-b {
  max-width: 14px;
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 0 2px;
  line-height: 18px;
  border: 1px solid @ttFoam;
  box-shadow: none;
  background: white;

  &.active {
    box-shadow: none;
    border-color: @ttSeagull;
    background: @ttDarkFoam;

    [class^="icon"] {
      opacity: 1;
    }
  }

  &:hover {
    background: white;

    [class^="icon"] {
      border-color: @ttSilverChalice;
    }
  }

  &:active {
    box-shadow: 1px 1px 2px @ttShadow075 inset;
  }

  [class^="icon"] {
    opacity: 0.4;
  }
}

.btn.btn-mini-c {
  padding: 0 2px;
  line-height: 18px;
  border: 1px solid @ttAlto;
  outline: none;
  box-shadow: none;
  background: white;
  vertical-align: top;

  &:hover {
    background: @ttAlabaster;
    outline: none;
  }

  &:active {
    outline: none;
  }

  [class^="icon"] {
    opacity: 0.75;
  }
}

.btn.btn-expand {
  padding: 2px 10px;
  border: 1px solid @ttLightSilver;
  border-radius: 3px;
  background: @ttLighterAlabaster;
  font-size: 13px;

  &:hover {
    background: @ttDarkAlabaster;
    text-decoration: none;
  }

  &:active,
  &.active {
    box-shadow: 1px 1px 2px @ttShadow050 inset;
    background: @ttGallery;
  }
}

.btn.remove-btn {
  width: 16px;
  height: 16px;
  padding: 0;
  border: 1px solid @ttMineShaft;
  border-radius: 40px;
  line-height: 17px;
  background: @ttMineShaft;
  .transition(all, 0.1s, linear);

  &:hover {
    border-color: @ttEmperor;
    background: @ttEmperor;
  }

  &.disabled {
    border-color: @ttAlto;
    background: @ttAlto;
  }
}

.btn-nav{
  &.btn-group {
    .btn.btn2 {
      min-width: 0;
      border-radius: 0;

      [class*="icon-"] {
        margin: 0;
        opacity: 0.8;
      }
    }

    .dropdown-menu {
      min-width: 90px;
      left: auto;
      right: -1px;
      border-radius: 0;

      & > li {
        & > a {
          padding: 3px 20px;
          font-weight: bold;
          font-size: 12px;
          text-align: right;
        }
      }
    }

    .btn.btn2:hover {
      [class*="icon-"] {
        opacity: 1;
      }
    }

    a.dropdown-toggle {
      border-radius: 0;
      border-left: none;
      border-right: none;
    }
  }
}

.btn-group {
  .open {
    .dropdown-toggle.status {
      box-shadow: 1px 1px 1px @ttShadow040 inset;
    }
  }

  .btngr2 {
    border-radius: 4px;
    box-shadow: 1px 1px 0 @ttWhiteShadow50;
  }
}

.btn-group {
  .btn.btn2 {
    min-width: 90px;
    font-size: 12px;
    border-color: @ttSilverChalice;
    .linear-gradient(@ttConcrete, @ttAlabaster, 0%, 100%);
  }

  .btn.btn2.active {
    background: @ttMercury;
  }
}

.btn2 {
  box-shadow: 1px 1px 1px @ttShadow050;
  color: @ttTundora !important;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid @ttSilver;
  text-shadow: 1px 1px 0 @ttWhiteShadow50;
  border-radius: 3px;
  .linear-gradient(@ttGallery, @ttLightWildSand, 0%, 100%);
  .transition(all, 0.1s, linear);

  &:hover {
    box-shadow: 0 1px 1px @ttShadow050;
    text-decoration: none;
    color: @ttMineShaft;
    .linear-gradient(@ttSeashell, @ttAlabaster, 0%, 100%);
  }

  &:focus {
    background-position: 0;
    outline: none;
  }

  &:active {
    background: @ttGallery;
    box-shadow: 0 1px 2px @ttShadow10 inset;
  }

  &.active {
    box-shadow: 0 1px 2px @ttShadow10 inset;
  }

  &.active:hover {
    background: @ttMercury;
    box-shadow: 0 1px 2px @ttShadow10 inset;
  }

  .btn-large {
    padding: 8px 15px;
  }
}

.btn2.btn-primary {
  margin: 0;
  border: 1px solid @ttMatisse;
  box-shadow: 1px 1px 0 @ttWhiteShadow10 inset;
  text-shadow: 1px 1px 0 @ttShadow10;
  color: white !important;
  .linear-gradient(@ttCuriousBlue, @ttLightCuriousBlue, 0%, 100%);

  &:active {
    background: @ttLighterCuriousBlue !important;
  }

  &:hover {
    border-color: @ttEasternBlue;
    box-shadow: 1px 1px 1px @ttShadow10;
    .linear-gradient(@ttDarkCuriousBlue, @ttShakespeare, 0%, 100%);
  }

  .btn-large {
    font-size: 13px;
  }
}

.btn3 {
  border: none;
  font-size: 12px;
  font-weight: bold;
  box-shadow: none;
  background: white;
  text-shadow: none;
  padding: 5px 12px;

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: 0 1px 1px @ttShadow10 inset;
    background: @ttMercury;
  }

  &:hover {
    background: @ttLightConcrete;
  }
}

.btn2 [class*="icon-"],
.btn3 [class*="icon-"] {
  margin-left: -5px;
  margin-right: 5px;
}

.btn4 {
  background: white;
  border-radius: 0;
  text-shadow: none;
  padding: 5px 12px;
}
