.dropdown-toggle.status.cState {
  border: 1px solid @ttLightSilver;
  color: @ttDoveGray;
  background: @ttMercury;
  text-shadow: none;

  &:hover {
    text-decoration: none;
  }

  .caret {
    display: inline;
  }
}

.dropdown-menu > li > a:hover {
  text-shadow: none;
}
