select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-radius: 2px;
}

.form-horizontal {
  label {
    font-size: 13px;
    font-weight: 500;
  }

  table {
    .editable {
      padding-top: 0;
    }
  }

  .control-label, .editable {
    padding-top: 0;
  }

  .control-group {
    margin-bottom: 10px;
  }

  .controls {
    font-size: 13px;
    margin-left: 170px;
  }

  .required {
    &:before {
      content: "*";
      display: inline-block;
      padding-right: 3px;
      font-size: 15px;
      color: @ttAlizarinCrimson;
      vertical-align: text-top;
    }
  }
}

.editableform textarea.input-large {
  width: 460px;
}
