html, .IE8 {
  height: 100%;
}

body {
  height: 100%;
  background: url("./images/squairy_light2.png") left top repeat @ttAlabaster;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

h1 {
  margin-bottom: 20px;
  font-weight: 500;
}

h1,
.lead {
  font-family: Roboto;
}

a,
a:link {
  color: @ttSanMarino;
}

ul {
  list-style: none;
}

.lnk {
  position: relative;
  display: inline;
}

.label,
.badge {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  padding: 2px 6px;
}
