.search_more {
  display: inline-block;
  background: @ttLightConcrete;
  border-radius: 16px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url("./images/sprite-icons.png");
  background-position: -58px -1px;
  margin-left: 3px;

  &:hover {
    background-color: @ttCuriousBlue;
    background-position: -72px -1px;
  }
}

.icon-sprite {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-image: url("./images/sprite-icons.png");
  background-repeat: no-repeat;
  background-color: transparent;
}

.icon-trial {
  background-position: left top;
}

.icon-finance {
  background-position: -13px top;
}

.icon-publication {
  background-position: -28px top;
}

.icon-deliverable {
  background-position: -44px top;
}

.icon-search2_dark {
  background-position: -56px top;
}

.icon-search2_white {
  background-position: -68px top;
}

.icon2-task-tracker {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-left: 3px;
  line-height: 14px;
  background-image: url("./images/glyphicons-halflings-task-tracker.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  vertical-align: middle;
  opacity: 0.8;
  cursor: help;
}

.icon2-arrDouble-right,
.icon2-arrDouble-left,
.icon2-question-sign {
  .icon2-task-tracker();
}

.icon2-arrDouble-right {
  background-position:left -2px;
}

.icon2-arrDouble-left {
  background-position:-24px -2px;
}

.icon2-question-sign {
  background-position:-49px top;
}
