.wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -60px;
}

.main-ui-view {
  padding: 60px 0 80px 0;
}

.main-container {
  &.container-fluid {
    min-height: 500px;
    padding: 20px;
  }

  &.page {
    box-shadow: 0 0 2px @ttShadow075, 0px 2px 2px @ttShadow075;
    background: white;
  }
}

.title-container {
  .status {
    margin-right: 15px;
  }

  .expand-hints {
    position: relative;
    margin-left: 10px;
    top: 6px;
    color: @ttMineShaft;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.title-container,
.modal-header {
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid @ttMercury;
  box-shadow: 1px 1px 0 @ttWhiteShadow80 inset, 1px -1px 2px @ttShadow10;
  background: url("./images/gray_jean.png") left top repeat transparent;
  z-index: 2;
}

.title-container h1,
.modal-header h3 {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: @ttTundora;
  text-shadow: 1px 1px 0 @ttWhiteShadow80;
  font-size: 22px;
  font-weight: 500;
  vertical-align: middle;
}

.lead {
  margin-bottom: 10px;
}

.page-footer {
  height: 60px;
}

@media (max-width: @navbarCollapseWidth) {
  .main-ui-view {
    padding: 0 0 80px 0;
  }
}
