.margin-padding-zero {
  margin: 0px;
  padding: 0px;
}

.transition (@effect: all, @time: 0.1s, @type: ease-in) {
  -moz-transition: @arguments;
  -webkit-transition: @arguments;
  transition: @arguments;
}

.legacyTransition(@effect: all, @time: 0.1s, @type: linear) {
  -ms-transition: @arguments;
  -o-transition: @arguments;
  .transition(@arguments);
}

.linear-gradient(@color1:#457aaf, @color2:#457aaf, @from:0, @to:100%, @top: 90deg, @type:0) {
  @left: @top - 90deg;
  @rightt: @top + 90deg;
  @bottom: @top + 180deg;
  background: @color1;
  background: -moz-linear-gradient(@top, @color1 @from, @color2 @to); /* FF3.6+ */
  background: -webkit-gradient(linear, @left @top, @left @bottom, color-stop(@from, @color1), color-stop(@to, @color2));
  background: linear-gradient(to @bottom, @color1 @from, @color2 @to); /* W3C */
}

.legacy-linear-gradient(@color1:#457aaf, @color2:#457aaf, @from:0, @to:100%, @top: 90deg, @type:0) {
  @left: @top - 90deg;
  @rightt: @top + 90deg;
  @bottom: @top + 180deg;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(@top, @color1 @from, @color2 @to); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(@top, @color1 @from, @color2 @to); /* Opera 11.10+ */
  background: -ms-linear-gradient(@top, @color1 @from, @color2 @to); /* IE10+ */
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@color2, endColorstr=@color1, GradientType=@type);
  .linear-gradient(@arguments);
}

.backface-visibility (@state: hidden) {
  -webkit-backface-visibility: @arguments;
  -moz-backface-visibility: @arguments;
  -ms-backface-visibility: @arguments;
  backface-visibility: @arguments;
}

.ellipsis-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


//TODO: Craete collapse animation and use it instead of JS animation

/**
 * This mixin is usually used to animate display:none => block view state.
 */

.fadeIn (@time: 0.15s) {
  -webkit-animation: fadeIn @time;
  -moz-animation: fadeIn @time;
  animation: fadeIn @time;
}

.legacyFadeIn (@time: 0.15s) {
  -ms-animation: fadeIn @time;
  -o-animation: fadeIn @time;
  .fadeIn(@arguments);
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-ms-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-o-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
