.editable:hover {
  background-color: @ttShalimar;
  cursor: text;
}

.content-table {
  .editable.people {
    display: block;
  }
}

.editable-container {
  .editableform {
    .control-group {
      margin-bottom: 0;
    }
  }
}

.editable,
.editable-click,
.editable-click:hover,
.editable:hover {
  border: none;
  color: @ttMineShaft;
  text-decoration: none;
}

.editable-unsaved {
  font-weight: normal;
}
