.st_legend {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid @ttShadow20;
  border-radius: 2px;
  box-shadow: 1px 1px 0 @ttWhiteShadow10 inset;
  box-sizing: border-box;
  vertical-align: middle;
}

.status {
  display: inline-block;
  width: 110px;
  padding: 2px 0;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: bold;
  font-size: 11px;
  color: white;
  text-shadow: 1px 1px 0 @ttShadow10;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.status-1,
.status-scoped,
.st_legend.st_scoped,
.label-scoped {
  background-color: @ttDustyGray;
}

.status-2,
.status-pending,
.st_legend.st_pending,
.label-pending {
  background: @ttHotCinnamon;
  font-size: 9px !important;
}

.status-3,
.status-live,
.label-live,
.st_legend.st_live {
  background: @ttMariner;
}

.status-4,
.status-suspended,
.st_legend.st_suspended,
.label-suspended {
  background: @ttMineShaft;
}

.status-5,
.status-complete,
.st_legend.st_completed,
.label-completed {
  background: @ttApple;
}
