.table-tasks {
  thead {
    tr {
      border-left: none;
    }
  }

  tbody {
    tr {
      td {
        &:first-child {
          padding-left: 25px;
        }
      }

      &.task-line {
        border-left: 5px solid @ttApple;

        td {
          padding: 5px;
          background: @ttAlabaster;

          &:first-child {
            padding-left: 5px;
          }
        }

        &.not-updated {
          border-left: 5px solid @ttAlizarinCrimson;
        }
      }
    }
  }

  tr {
    border-left: 5px solid @ttGallery;
  }

  &.table-hover {
    tbody {
      tr:hover {
        td {
          background: @ttIvory;
        }
      }
    }
  }
}

.content-table {
  thead {
    tr {
      th {
        padding: 5px;
        background: @ttWildSand;
        font-weight: bold;
        font-size: 11px;
        letter-spacing: 0.3px;
        vertical-align: middle;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }

  tfoot {
    tr {
      td {
        padding: 8px;
        box-shadow: 0 2px 3px @ttShadow050 inset;
        background: @ttAlabaster;
      }
    }
  }

  tbody {
    tr.child-line {
      display: none;

      ul.nav {
        & > li {
          & > a {
            display: none;
          }
        }
      }

      td {
        background: white;
      }
    }

    tr {
      td {
        background: white;
        vertical-align: middle;
      }
    }
  }

  & > tbody {
    tr:first-child {
      td {
        border-top: 1px solid @ttLightSilver;
      }
    }
  }

  thead:first-child {
    tr:first-child {
      & > th:last-child {
        border-top-right-radius: 4px;
      }
    }
  }

  input[type="text"] {
    height: 16px;
    line-height: 16px;
    box-shadow: none;
  }

  & > input[type="text"] {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.content-table & > td,
.content-table & > th {
  border-top: 1px solid @ttGallery;
  text-shadow: 1px 1px 0 @ttWhiteShadow25;
}

.content-table thead:first-child tr:first-child & > th:first-child,
.content-table tbody:first-child tr:first-child & > td:first-child,
.content-table tbody:first-child tr:first-child & > th:first-child {
  border-top-left-radius: 4px;
}

th.text-center, td.text-center {
  text-align: center;
}

.table-condensed th, .table-condensed td {
  padding: 2px 5px;
}
