.tabs-table {
  margin-bottom: 0;

  > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    background-color: @ttGallery;
    color: @ttMineShaft;
    font-weight: bold;
    font-size: 11.5px;
  }
}

.content-table {
  tbody {
    tr.child-line {
      .tab-pane {
        padding: 8px 12px;
        font-size: 11.5px;

        ul {
          margin: 0;

          > li {
            line-height: 15px;
          }

          label {
            display: inline;
            margin: 0;
            color: @ttMineShaft;
            font-size: 11.5px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
