/**
 * Override standard bootstrap tooltip
 */

.tooltip {
  white-space: normal;
  font-weight: normal;

  .tooltip-inner {
    color: @ttBostonBlue;
    background-color: @ttLinkWater;
    border: 1px solid @ttMintTulip;
    text-align: left;
    font-size: 12px;
  }

  &.top .tooltip-arrow {
    bottom: -1px;
    left: 50%;
    border-width: 7px 7px 0 7px;
    border-top-color: @ttMintTulip;

    &:before {
      content: "";
      position: absolute;
      top: -7px;
      left: -6px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid @ttLinkWater;
    }
  }

  &.right .tooltip-arrow {
    margin-top: -7px;
    left: -1px;
    border-width: 7px 7px 7px 0;
    border-right-color: @ttMintTulip;

    &:before {
      content: "";
      position: absolute;
      top: -6px;
      left: 1px;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: 6px solid @ttLinkWater;
    }
  }
}

// Validation tooltip on "Send" button
[type="submit"] + .tooltip {
  .tooltip-inner {
    color: @ttMediumCarmine;
    background-color: @ttCherub;
    border: 1px solid @ttMandysPink;
    text-align: left;
    font-size: 12px;
  }

  &.top .tooltip-arrow {
    border-top-color: @ttMandysPink;

    &:before {
      border-top: 6px solid @ttCherub;
    }
  }
}
