.well {
  background: url("./images/gray_jean.png") left top repeat white;
  padding: 12px 19px;
  border-color: @ttLightSilver;
  box-shadow: 1px 1px 0 white inset;
}

.cursor-pointer {
  cursor: pointer;
}

/* Inspired by .help-block and .help-inline */

.help-inline-block {
  display: inline-block !important;
}
